{% extends 'base.html' %}
{% load static %}

{% block title %}
Abort Deadline Task
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="/style/tasks/classic/create.css">
<link rel="stylesheet" href="/style/tasks/classic/delete.css">
<link rel="stylesheet" href="/style/tasks/classic/update.css">
<link rel="stylesheet" href="/style/tasks/count/delete.css">
<link rel="stylesheet" href="/style/tasks/time/delete.css">
{% endblock %}


{% block body %} 
<div class="container">
      
  <div class="page-title">
    <h2>Abort Deadline Task</h2>
  </div>

  <div class="outcome-name">
    <h1>Master Communication Skills</h1>
  </div>

  <div class="info">

    <div class="desc-xp">
      <div class="desc"><p>Description:</p></div>
      <div class="xp">
        <div class="title chaotic-font-color" >XP</div>
        <div class="amount">49</div>
      </div>
    </div>

    <div class="desc-container">
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, explicabo et! Aliquam sint distinctio adipisci doloribus iste voluptates ut perspiciatis non, ratione nobis libero, explicabo id ipsum tenetur nihil nulla.</div>
    </div>

    <div class="date">
      <div class="the-date">
        <div class="title"><p>Created:</p></div>
        <div class="text"><p>2024/2/12 - 13:42</p></div>
      </div>
      <div class="the-date">
        <div class="title"><p>Created:</p></div>
        <div class="text"><p>2024/2/12 - 13:42</p></div>
      </div>
    </div>
    <br>
    <div class="total-count">
      <div class="div">
        <div class="title">Penalty:</div>
        <div class="amount chaotic-font-color"> Half XP Loose</div>
      </div>
      <div class="div">
        <div class="title">Penalty XP:</div>
        <div class="amount chaotic-font-color">75</div>
      </div>
    </div>

    <form action="#">
      <div class="btn">
        <button class="delete">Abort</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}