{% extends 'base.html' %}
{% load static %}

{% block title %}
Repeat Deadline Task
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static '/style/tasks/classic/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/deadline/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/count/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/time/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/update.css' %}">

  <style>
    .desc-container {
      display: flex;
      justify-content:center;
      align-items:center;
    }

    .description {
      width:100%;
    }
  </style>
{% endblock %}


{% block body %} 
  <div class="container">

    <div class="page-title">
      <h2>Repeat Deadline Task</h2>
    </div>

    <div class="outcome-name">
      <h1>{{ task.outcome.name }}</h1>
    </div>

    <div class="form">
      <div class="desc-xp">
        <div class="desc"><p>Description:</p></div>
        <div class="xp">
          <div class="title chaotic-font-color" >XP</div>
          <div class="amount">{{ task.xp }}</div>
        </div>
      </div>

      <div class="desc-container">
        <div class="description">{{ task.description }}</div>
      </div>

      <div class="date">
        <div class="the-date">
          <div class="title"><p>Created:</p></div>
          <div title='{{ task.created_at|date:"fA j(l) n(M) Y" }}' class="text"><p>{{ task.created_at|date:"fA j-n-y" }}</p></div>
        </div>

        <div class="the-date">
          <div class="title"><p>Deadline:</p></div>
          <div title='{{ task.created_at|date:"fA j(l) n(M) Y" }}' class="text"><p>{{ task.created_at|date:"fA j-n-y" }}</p></div>
        </div>
      </div>

      <div class="deadline">
        <div class="label">
          <p>Define Deadline</p>
        </div>

        <div class="method">
          <div class="by-date by-date-js selected">
            <p>Date & Time</p>
          </div>
          <div class="by-duration by-duration-js">
            <p>Day & Hour</p>
          </div>
        </div>
        <form method="post">
        {% csrf_token %}
          <div class="date-input date-js">
            {{ form.deadline_date }}
          </div>

          <div class="duration duration-js" style="display:none;">
            <div class="day-label">
              <p>Days:</p>
            </div>
            <div class="day-input">
              {{ form.duration_days }}
            </div>
            <div class="hours-label">
              <p>Hours:</p>
            </div>
            <div class="hours-input">
              {{ form.duration_hours }}
            </div>
          </div>
        </div>

        <br><br>

        <div class="total-count">
          <div class="div">
            <div class="title">Penalty:</div>
            <div class="amount chaotic-font-color"> {{ task.penalty_text }}</div>
          </div>
          <div class="div">
            <div class="title">Penalty XP:</div>
            <div class="amount chaotic-font-color">{{ task.penalty_xp }}</div>
          </div>
        </div>

        <div class="create">
          <button type="submit" class="update">Repeat</button>
        </div>
      </form>

    </div>
  </div>

{% endblock %}


{% block scripts %}
  <script src="{% static '/script/tasks/deadline/create.js' %}"></script>
{% endblock %}