{% extends 'base.html' %}
{% load static %}

{% block title %}
Deadline Task Status
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static '/style/tasks/classic/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/update.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/count/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/time/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/deadline/status.css' %}">
{% endblock %}


{% block body %} 
  <div class="container">

    <div class="page-title">
      <h2>Deadline Task Status</h2>
    </div>

    <div class="outcome-name">
      <h1>{{ task.outcome.name }}</h1>
    </div>

    <div class="info">

      <div class="desc-xp">
        <div class="desc"><p>Description:</p></div>
        <div class="xp">
          <div class="title chaotic-font-color" >XP</div>
          <div class="amount">{{ task.xp }}</div>
        </div>
      </div>

      <div class="desc-container">
        <div class="description">{{ task.description }}</div>
      </div>

      <div class="date">
        <div class="the-date">
          <div class="title"><p>Created:</p></div>
          <div title='{{ task.created_at|date:"fA j(l) n(M) Y" }}' class="text"><p>{{ task.created_at|date:"wA j-n-y" }}</p></div>
        </div>

        <div class="the-date">
          <div class="title"><p>Deadline:</p></div>
          <div title='{{ task.deadline_date|date:"fA j(l) n(M) Y" }}' class="text"><p>{{ task.deadline_date|date:"wA j-n-y" }}</p></div>
        </div>
      </div>

      <div class="total-count">
        <div class="div">
          <div class="title">Days:</div>
          <div class="amount chaotic-font-color">{{ task.days }}&nbsp; </div>
          <div class="title">Hours:</div>
          <div class="amount chaotic-font-color">{{ task.hours }}&nbsp; </div>
          <div class="title">Minutes:</div>
          <div class="amount chaotic-font-color">{{ task.minutes }} &nbsp;</div>
        </div>
      </div>

      <div class="btn">
        <button class="update">Update</button>
        <button class="delete">Abort</button>
        <button class="create-btn">Repeat</button>
      </div>

    </div>
  </div>
{% endblock %}


{% block scripts %}

{% endblock %}