{% extends 'base.html'%}

{% block title %}
    Update Task as Done
{% endblock %}

{% block style %}
    .box {
        font-family: monospace;
        background-color: #0d0d0d;
        color: #d9d9d9;
        font-size: 1.5em;
    }

    .title {
        text-shadow: 0px 3px 10px black;
    }

    .container {
        height: max-content;
        width: 80%;
        min-width: 600px;
        padding: 20px;
        margin: 0 auto;
    }

    .form-container {
        margin-top: 20px;
        border: solid 1px purple;
        border-radius: 6px;
        padding: 20px;
        background-color: black;
    }

    .form-title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.5em;
        text-align: center;
        text-shadow: 0px 0px 1px black, 0px 0px 4px purple, px 0px 7px gray;
    }

    .form-field {
        margin-bottom: 10px;
        font-size: 1em;
        text-align: left;
    }

    .form-submit {
        text-align: center;
    }

    .is-done {
        /* Increase the size of the checkbox */
        width: 20px;
        height: 20px;
        color:yellow;
        margin-right: 10px; /* Optional: Add some space between checkbox and label */
    }
    .btn {
        text-decoration:none;
        color:#d9d9d9;
        background-color:#0d0d0d;
        padding:10px;
        transition:ease-in-out 0.3s;
        font-size:1.5rem;
    }

    .btn:hover {
        transition:ease-in-out 0.3s;
        color:black;
        background-color:black;
    }

{% endblock %}

{% block content %}
    <div class="box">
        <div class="container">
            <h1 class="title">DeadLine Task ->  {{ task.description }}</h1>
            <p> what you shall do with the task now? </p>
            <div class="form-container">
                {% if task.is_time_over == True %}
                <button>Abort task</button>
                <button>Repeat again</button>
                {% else %}
                <button>Update as done</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
