.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-header .title h2 {
  font-weight: 300;
  font-size: 18px;
}

.task-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
}

.classic, .time, .count, .deadline {
  width: 100px;
  text-align: center;
  border: 1px solid transparent;
  padding:10px;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.selected {
  opacity: 0.4;
}

.classic:hover, .time:hover, .count:hover, .deadline:hover {
  border: 1px solid var(--theme-color);
}

.task-container {
  backdrop-filter: blur(200px);
  border: 1px solid black;
}

.time-task-container, .count-task-container, .deadline-task-container, .classic-task-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 20px;
  border-radius: 15px;
  /* backdrop-filter: blur(50px); */
  /* background: url('your-bg.jpg') center/cover no-repeat; or a solid color */
  background-color: transparent;
}

.create-task {
  width: 100%;
  display: flex;
  justify-content: first;
  align-items: center;
  margin: 10px;
}

.task {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: fit-content;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.418);
  padding: 5px 10px;
  border-radius: 8px;
}

.task .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .date {
  font-size: 12px;
}

.xp {
  border-bottom: solid 1px var(--theme-color);
}

.xp .text {
  transition: ease-in-out 2s;
}

.task .desc {
  font-size: 12px;
  margin: 10px 0px;
  padding: 5px;
  border: 4px;
  background-color: var(--bg-color);
}

.task .status {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task .right, .left {
  width: 50%;
}

.task .right {
  border-left: 1px solid var(--theme-color);
  padding-left: 6px;
  margin-right: -5px;
}

.task .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.done-or-undone {
  font-size: 12px;
}

.classic-task-container .xp {
  font-size: 25px;
  text-align: center;
  border-bottom: none;
  margin-bottom: 10px;
}

.classic-task-container .report, .deadline-task-container .report {
  border: 1px solid var(--theme-color);
}

.deadline-task-container .xp-lost {
  color: var(--red);
  font-size: 16px;

}

.deadline-task-container .right {
  text-align: center;
}

.deadline-task-container .xp-gained {
  color: var(--green);
  font-size: 16px;
}

.deadline-task-container .date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.count-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.count-down div {
  background-color: var(--bg-color);
  padding: 10px;
  font-size: 22px;

}

.task-selected {
  opacity: 0.4;
}

.new-task{
  color: var(--theme-color);
  cursor: pointer;
}

