{% extends 'base.html' %}
{% load static %}

{% block title %}
Targoon's Profile
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static '/style/index/status.css' %}">
<link rel="stylesheet" href="{% static '/style/index/tasks.css' %}">
<link rel="stylesheet" href="{% static '/style/index/outcomes.css' %}">
{% endblock %}


{% block body %} 
<div class="status">

  <div class="side-status">
    <div class="first-row">
      <span class="infograph" style="margin-right:20px;border-left:1px solid var(--theme-color);">Deadline Done: {{ deadline_done }}</span>
      <span class="infograph" >Classic Done: {{ classic_done }}</span>
    </div>
    <div class="other-row">
      <p>Last Outcome Created:</p>
    </div>
    <div class="other-row">
      <p>Total Outcomes:</p>
    </div>
    <div class="other-row" style="border-bottom: solid 1px var(--theme-color);">
      <p>Last Outcome Achieved:</p>
    </div>
  </div>

  <div class="middle-status">
    <div class="level chaotic-box-shadow">
      <span class="level-number">{{ level }}</span>
    </div>
    <div class="xp-bar">
      <div class="xp-bar-filled chaotic-bg-color"></div>
      <span class="xp-number">{{ next_level_xp }} / {{ total_xp }}</span>
      <div class="xp-bar-remaining" style="width: 80%;"></div>
    </div>
    <div class="create-button">
      <div class="btn">New Task</div>
      <div class="btn">New Outcome</div>
    </div>
  </div>
 
  <div class="side-status">
    <div class="first-row">
      <span class="infograph" style="margin-right:20px;">Count Scored: {{ total_tasks_done }}</span>
      <span class="infograph" style="border-right:1px solid var(--theme-color);">Time Spent:</span>
    </div>
    <div class="other-row">
      <p>Highest XP By Single Task:</p>
    </div>
    <div class="other-row">
      <p>Last Task Done At: </p>
    </div>
    <div class="other-row" style="border-bottom: solid 1px var(--theme-color);">
      <p>Total XP Lost:</p>
    </div>
  </div>

</div>

<div class="tasks">

  <div class="task">
    <div class="task-header">
      <div class="task-outcome">
        <p>Acquire Magickal Skills and Self Mastery </p>
      </div>
      <div class="task-info">
        <p class="task-xp">XP: 40</p>
        <p class="task-created-at">3 days</p>
      </div>
    </div>
    <div class="task-description">
      <p>Do the drawing concentration loveingfuly wihtout bothering anyone</p>
    </div>
  </div>
  
  <div class="task">
    <div class="task-header">
      <div class="task-outcome">
        <p>Acquire Magickal Skills and Self Mastery </p>
      </div>
      <div class="task-info">
        <p class="task-xp">XP: 40</p>
        <p class="task-created-at">3 days</p>
      </div>
    </div>
    <div class="task-description">
      <p>Do the drawing concentration loveingfuly wihtout bothering anyone</p>
    </div>
  </div>
  
  <div class="task">
    <div class="task-header">
      <div class="task-outcome">
        <p>Acquire Magickal Skills and Self Mastery </p>
      </div>
      <div class="task-info">
        <p class="task-xp">XP: 40</p>
        <p class="task-created-at">3 days</p>
      </div>
    </div>
    <div class="task-description">
      <p>Do the drawing concentration loveingfuly wihtout bothering anyone</p>
    </div>
  </div>
  
  <p style="display:none;" class="js-help-1">{{ filled }}</p>
  <p style="display:none;" class="js-help-2">{{ remaining }}</p>

</div>

<div class="outcomes">

  {% for outcome in outcomes %}
  <div class="outcome" onclick="window.location.href = 'www.google.com'">
    <div class="tasks-undone chaotic-font-color chaotic-bg-color">{{ outcome.total_tasks_undone }}</div>
    <div class="outcome-name">{{ outcome.name }}</div>
  </div>
  {% endfor %}

</div>

{% endblock %}


{% block scripts %}
<script src="{% static '/script/profile/general.js' %}"></script>
<script>
  const filled = document.querySelector('.xp-bar-filled');
  const remaining = document.querySelector('.xp-bar-remaining');

  const help1 = document.querySelector('.js-help-1');
  const help2 = document.querySelector('.js-help-2');

  filled.style.width = `${help1.innerHTML}%`;
  remaining.style.width = `${help2.innerHTML}%`;

</script>
{% endblock %}