{% extends 'base.html' %}
{% load static %}


{% block title %}
    Profile
{% endblock %}

{% block style %}
    body {
        font-family: monospace;
        background-color: black;
        color: #d9d9d9;
        font-size: 1.5em;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 870px;
        margin: 0 auto;
    }

    .level-box-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
    }

    .level-box {
        z-index: 1;

        width: 200px;
        height: 200px;
        border: 1px solid transparent;
        border-radius: 100px;
        background-image: url('{% static "gif/fxVE.gif" %}');
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(10px);
        transition: 0.5s ease-in-out;
    }

    .level-box:hover {
        transition: 0.5s ease-in-out;
        filter: blur(0px);
    }

    .level-txt {
        color: transparent;
        padding: 0;
        margin-top:23%;
        transition: 5s ease-in-out;
        font-size: 5rem;
        text-align: center;
        text-shadow:
            0px 0px 0px black,
            0px 0px 30px violet,
            10px 5px 15px indigo,
            -10px 5px 15px blue,
            0px -12px 15px green,
            -10px -5px 15px yellow,
            10px -5px 15px orange,
            0px 12px 15px red;
    }

    .level-txt:hover {
        transition: 0.3s ease-in-out;
        text-shadow:
            0px 0px 0px white,
            0px 0px 4px white,
            0px 0px 8px white,
            0px 0px 14px white,
            0px 0px 5px black,
            60px 30px 5px black,
            -60px 30px 5px black,
            0px -75px 5px black,
            -60px -30px 5px black,
            60px -30px 5px black,
            0px 75px 5px black;
    }

    .xp-box-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .xp-box {
        display: flex;
        left:-100px;
        position: relative;
        align-items: center;
        justify-content: center;
        border-radius: 0px 35px 35px 0px;
        border: 1px solid purple;
        background-color: #0d0d0d;
        width: 400px;
        height: 70px;
        transition: 5s ease-in-out;
        box-shadow: 0px 0px 15px indigo;
        margin-bottom: 20px;
    }

    .xp-box:hover {
        transition: 0.3s ease-in-out;
        box-shadow:
            0px 0px 30px violet,
            10px 5px 15px indigo,
            -10px 5px 15px blue,
            0px -12px 15px green,
            -10px -5px 15px yellow,
            10px -5px 15px orange,
            0px 12px 15px red;
    }

    .xp-txt {
        transition: 5s ease-in-out;
        font-size: 2rem;
        text-align: center;
        text-shadow: 0px 0px 5px indigo;
    }

    .xp-txt:hover {
        transition: 0.3s ease-in-out;
        text-shadow:
            0px 0px 10px black,
            0px 0px 30px red,
            10px 5px 15px orange,
            -10px 5px 15px yellow,
            0px -12px 15px green,
            -10px -5px 15px blue,
            10px -5px 15px indigo,
            0px 12px 15px violet;
    }

    .tasks-done {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 10px;
    }

    .outcome-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .outcome-box {
        flex: 0 1 45%;
        background-color: #1a1a1a;
        margin: 10px;
        padding: 20px;
        border: 1px solid purple;
        box-shadow: 0px 0px 10px indigo;
        border-radius: 10px;
        box-shadow
    }

    .outcome-box p {
        margin: 5px 0;
    }
{% endblock %}

{% block content%}

<div class="box">
    <div class="level-box-container">
        <div class="level-box">
            <p class="level-txt">{{ level }}</p>
        </div>
        <div class="xp-box-container">
            <div class="tasks-done">
                <p class="xp-txt" style="font-size: 1.5rem;">Total tasks done: {{ total_tasks_done }}</p>
            </div>
            <div class="xp-box">
                <p class="xp-txt" >{{ total_xp }} / {{ next_level_xp }}</p>
            </div>
        </div>
    </div>
</div>
<div class="outcome-container">
    {% for outcome in outcomes %}
    <div class="outcome-box">
        <p>Name: {{ outcome.name }}</p>
        <p>Level: {{ outcome.level }}</p>
        <p>Total Tasks Done: {{ outcome.total_tasks_done }}</p>
        <p>Total Tasks Undone: {{ outcome.total_tasks_undone }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}


