<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> External Ecology Questions</title>
    <link rel="stylesheet" href="/style/tasks/time/create.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/tasks/classic/create.css">
    <link rel="stylesheet" href="/style/tasks/classic/update.css">
    <link rel="stylesheet" href="/style/questions/main.css">
  </head>
  <body>

    <div class="js-navbar-button navbar-button"></div>

    <a href="">
      <div class="js-navbar-tasks navbar-tasks">
        <p class="navbar-text">Tasks</p>
      </div>
    </a>
    <a href=""><div class="js-navbar-profile navbar-profile">
      <p class="navbar-text">Profile</p>
    </div>
    </a>
    <a href=""><div class="js-navbar-outcomes navbar-outcomes">
      <p class="navbar-text">Outcomes</p>
    </div>
    </a>


    <div class="more-info-container more-info-container-js-0" onmouseenter="hideHelpText(0)">
      <p>asdf</p>
    </div>

    <div class="more-info-container more-info-container-js-1" onmouseenter="hideHelpText(1)">
      <p>zcv</p>
    </div>

    <div class="more-info-container more-info-container-js-2" onmouseenter="hideHelpText(2)">
      <p>vnbm.</p>
    </div>


    <div class="container">
      <form action="">
        <div class="header">
          <div class="page-title">
            <div class="title">
              <h2>External Ecology Questions</h2>
            </div>
            
            <div class="btn">
              <button class="create-btn">Update</button>
            </div>
          </div>

          <div class="outcome-name">
            <h1>Master Communication Skills</h1>
          </div>
        </div>

        <div class="note">
          <h1>Pay Attention:</h1>
          <p>Internal Ecology shades into external ecology because we are all part of a wider system of relationships. Internal and external ecology are two different perspectives on the same system. An external ecology check examines how your outcome will affect other significant people in your life.<br><br><b>Make a leap of imagination and beocme them:</b> </p>
        </div><br><br>

        <div class="questions">

          <div class="question">
            <div class="text">
              <div class="title">
                <p>1. How will your change affect them?</p>
              </div>

            </div>
            <div class="answer">
              <textarea class="desc-input" name="" id=""></textarea>
            </div>
          </div>

          <div class="question">
            <div class="text">
              <div class="title">
                <p>2. Does it goes against any of their values? </p>
              </div>

            </div>
            <div class="answer">
              <textarea class="desc-input" name="" id=""></textarea>
            </div>
          </div>

          <div class="question">
            <div class="text">
              <div class="title">
                <p>3. Does this matter? </p>
              </div>

            </div>
            <div class="answer">
              <textarea class="desc-input" name="" id=""></textarea>
            </div>
          </div>

          <div class="question">
            <div class="text">
              <div class="title">
                <p>4. How will they react?</p>
              </div>

            </div>
            <div class="answer">
              <textarea class="desc-input" name="" id=""></textarea>
            </div>
          </div>

        </div>
      </form>
    </div>

    <script src="/script/navbar.js"></script>
    <script src="/script/general.js"></script>
    <script src="/script/questions/ecology.js"></script>
  </body>
</html>