<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer Internal Ecology Questions</title>
    <link rel="stylesheet" href="/style/tasks/time/create.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/tasks/classic/create.css">
    <link rel="stylesheet" href="/style/tasks/classic/update.css">
    <link rel="stylesheet" href="/style/questions/main.css">
  </head>
  <body>

    <div class="js-navbar-button navbar-button"></div>

    <a href="">
      <div class="js-navbar-tasks navbar-tasks">
        <p class="navbar-text">Tasks</p>
      </div>
    </a>
    <a href=""><div class="js-navbar-profile navbar-profile">
      <p class="navbar-text">Profile</p>
    </div>
    </a>
    <a href=""><div class="js-navbar-outcomes navbar-outcomes">
      <p class="navbar-text">Outcomes</p>
    </div>
    </a>

<!-- 
    <div class="more-info-container more-info-container-js-0" onmouseenter="hideHelpText(0)">
      <p>asdf</p>
    </div>

    <div class="more-info more-info-js-0" onclick="showHelpText(0)">
      <p>?</p>
    </div> -->

    <div class="container">
      <form action="">
        <div class="header">
          <div class="page-title">
            <div class="title">
              <h2>Internal Ecology Questions</h2>
            </div>
            
            <div class="btn">
              <button class="create-btn">Update</button>
            </div>
          </div>

          <div class="outcome-name">
            <h1>Master Communication Skills</h1>
          </div>
        </div>

          <div class="questions">

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>1. What are the wider consequences of my action? </p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>2. What will i lose if i make this change? </p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>3. What extra will i have to do? </p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>4. Is it worth it?</p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>5. What will i gain if I make this change? </p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>6. What is the price of making this change and am I willing to pay it? </p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>7. What are the good aspects of the present state?</p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>8. How can i keep those good aspects while making the change i want? </p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            
          </div>

          <div class="note">
            <h1>Pay Attention:</h1>
            <p>Listen, feel and look carefully for your answers.<br><br>A typical incongruent response will be an uneasy feeling, usually in the stomach. A visual incongruence is often a sense of the pieces of a jigsaw puzzle not making sense. The classic incongruent phrase is 'Yes, but...'<br><br>Sometimes when you  do an ecology check, the unpleasant consequences may be very clear and you may need to rethink your outcome. other times you may get an intuition that all is not well without being able to say exactly why. This intuition is an unconscious indication that the change is not completely ecological. Always pay attention to your intuitions and feelings of incongruence. </p>
          </div>
          </form>
    </div>

    <script src="/script/navbar.js"></script>
    <script src="/script/general.js"></script>
    <script src="/script/questions/ecology.js"></script>
  </body>
</html>