<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outcome Questions</title>
    <link rel="stylesheet" href="/style/tasks/time/create.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/tasks/classic/create.css">
    <link rel="stylesheet" href="/style/tasks/classic/update.css">
    <link rel="stylesheet" href="/style/questions/main.css">
  </head>
  <body>

    <div class="js-navbar-button navbar-button"></div>

    <a href="">
      <div class="js-navbar-tasks navbar-tasks">
        <p class="navbar-text">Tasks</p>
      </div>
    </a>
    <a href=""><div class="js-navbar-profile navbar-profile">
      <p class="navbar-text">Profile</p>
    </div>
    </a>
    <a href=""><div class="js-navbar-outcomes navbar-outcomes">
      <p class="navbar-text">Outcomes</p>
    </div>
    </a>

    <div class="more-info-container more-info-container-js-0" onmouseenter="hideHelpText(0)">
      <p>Outcomes are expressed in the positive. This is nothing to do with 'Positive thinkin' or 'positive' in the sense of being good for you. Positive here means ' directed towards something you want' rather than 'away from something you wish to avoid'. <br><br> So, ask: 'What do I want?' not 'What do i not want, or want to avoid?'<br><br> How do you turn a negative into a positive outcome? Byasking: 'What do I want instead?' and 'What will this do for me?'</p>
    </div>

    <div class="more-info-container more-info-container-js-1" onmouseenter="hideHelpText(1)">
      <p>It is important to know you are on track for your outcome. You need the right feedback in the right quantity and it needs to be accurate. When you set an outcome you must think how you will measure the progress and with what degree of precision.<br><br>There are two kinds of evidence:<br><br>1. Feedback as you progress towards the outcome. How will you know you are on track?<br>2. Evidence for having achieved the outcome. How will you know that you have got it?<br><br>Ask:<br>How will I know that I am on course towards my outcome? What am I going to measure?<br>How will I know when I have achieved this outcome? What will I see, hear or feel?</p>
    </div>

    
    <div class="more-info-container more-info-container-js-2" onmouseenter="hideHelpText(2)">
      <p>Where do you want the outcome? Where specifically? There may be places and situations where you do not want it. you may want to increase productivity, but only in certain departments. You may want to buy a house, but not if interest rates rise beyond a certain point. <br><br> When do you want it? You may need to meet a deadline or you may not want the outcome before a specific date, beacuse other elements would not be in placce to take advantage of it. Ask: <br> <br> Where specifically do I want this?<br> When specifically do I want this?<br> In what context do I want this?</p>
    </div>

    <div class="more-info-container more-info-container-js-3" onmouseenter="hideHelpText(3)">
      <p>
        List your resources. They will fall into five categories, some more relevant than others, depending on your outcome:<br><br>
      <b>Objects -></b> Examples would be office equipment, buildings and technology. There may be books you can read, television and video programms you can see, tapes you can listen to. <br>
      <br><b>People -></b> For example, family, friends, acquintances, your business collegues, other business contacts.<br>
      <br><b>Role models -></b> Do you know anyone who has already succeeded in getting the otucome? Whom can you talk to? Has someone written about their expereince?<br>
      <br><b>Personal qualities -></b> What qualities do you have or need to develop to achieve the outcome? Think of all your personal skills and capabilities. <br>
      <br><b>Money -></b> Do you have enough? Can you raise enough? <br>
      </p>
    </div>

    <div class="more-info-container more-info-container-js-4" onmouseenter="hideHelpText(4)">
      <p>
        How much is under your direct control? What can you so and what do others have to do to get this outcome? Who will they help you? How can you motivate them to actuallly want to help you rather than feeling they have to help you? Ask: <br><br>
        What can I do directly to get this outcome?<br>
        How can I persuade others to help me? What can I offer them that will make them want to halp?
      </p>
    </div>

    <div class="more-info-container more-info-container-js-5" onmouseenter="hideHelpText(5)">
      <p>
        You can apply this at both the individual and organization level. First the individual level. Suppose you want ot manage a project. Being involved with this project might mean a great deal of time away from home. It might mean dropping other projects. It might take you away from you main career path. Although you would like to be involved, on balance it just does not suit you. You might ask "What does working on this project accomplish for me?" If the answer is to gain valuable experience, then there may be other projects, or training and consulting might be preferable. <br><br> 
        The same is true at the organizaztional level. Each company has a certain culture and a set of core values that define its identity. Company outcomes need to be aligned with this corporate self. Many companies come unstuck through diversifying into areas in which they are inexpereinced and which do not fit their identity. <br><br>
        Many a company has a strong idnetity that is characteristic of its founder and this can work to its advatage. Richard branson of Virgin started an airline, which was very differnet from his original music business, but he and Virgin are idnetified with innovation. so the move was profitable.
      </p>
    </div>

    <div class="more-info-container more-info-container-js-6" onmouseenter="hideHelpText(6)">
      <p>
        How to you eat an elephant? One bite at a time. <br><br> 
        If the outcome is too large, list all the obstacles that prevent you from getting it and set smaller outcomes to get over these barriers. Ask: <br><br> What prevents me from achieving this outcome?<br><br>
        When you are knee deep in crocodiles, it's hard to remember yoy went in to drain the swamp.<br>When the outcome is too small to be motivating and you feel bogged down with details, ask yourself<br><br> 
        What does this amll outcome get for me? Connect the details to the larger, more motivating outcome of which it is part. 
      </p>
    </div>

    <div class="more-info-container more-info-container-js-7" onmouseenter="hideHelpText(7)">
      <p>
        Once you have put your plan through these questions, then you are ready to act. or perhaps delegate. When delegating in business project, give your people the wider picture, so they can connect their tasks with the larger project. Make sure they know how to think outcomes through for themselves. This will ensure that their tasks are aligned with yours.<br><br>
        Remember the story of the two builders? Both were asked what they were doing. The first said, "I'm laying bricks." The second said "I'm buildling a wonderful building." <br><br> Guess which builder was more motivated and worked better? 
      </p>
    </div>





    <div class="container">
      <form action="">
        <div class="header">
          <div class="page-title">
            <div class="title">
              <h2>Outcome Ecology Questions</h2>
            </div>
            
            <div class="btn">
              <button class="create-btn">Update</button>
            </div>
          </div>

          <div class="outcome-name">
            <h1>Master Communication Skills</h1>
          </div>
        </div>

          <div class="questions">

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>1. Positive -> What do you want?  </p>
                </div>
                <div class="more-info more-info-js-0" onclick="showHelpText(0)">
                  <p>?</p>
                </div>
            
              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">

              <div class="text">
                <div class="title">
                  <p>2. Evidence -> How will you know you are succeeding/have succeeded? </p>
                </div>
                <div class="more-info more-info-js-1" onclick="showHelpText(1)">
                  <p>?</p>
                </div>
              </div>

              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>

            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>3. Specifics: Where, when and with whom?</p>
                </div>
                <div class="more-info more-info-js-2" onclick="showHelpText(2)">
                  <p>?</p>
                </div>
              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>4. Resources -> What resources do you have?</p>
                </div>
                <div class="more-info more-info-js-3" onclick="showHelpText(3)">
                  <p>?</p>
                </div>
              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>5. Control -> Can you start and maintain this outcome? </p>
                </div>
                <div class="more-info more-info-js-4" onclick="showHelpText(4)">
                  <p>?</p>
                </div>
              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>6. Identity -> Is this outcome inkeeping with who you are? </p>
                </div>
                <div class="more-info more-info-js-5" onclick="showHelpText(5)">
                  <p>?</p>
                </div>
              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>7. How do your outcomess fit together?</p>
                </div>
                <div class="more-info more-info-js-6" onclick="showHelpText(6)">
                  <p>?</p>
                </div>
              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            <div class="question">
              <div class="text">
                <div class="title">
                  <p>8. Action plan -> What to do next? </p>
                </div>

              </div>
              <div class="answer">
                <textarea class="desc-input" name="" id=""></textarea>
              </div>
            </div>

            
          </div>

          <div class="note">
            <h1>Pay Attention:</h1>
            <p>Answering these make it achievable. Don't rush in answering</p>
          </div>
          </form>
    </div>

    <script src="/script/navbar.js"></script>
    <script src="/script/general.js"></script>
    <script src="/script/questions/ecology.js"></script>
  </body>
</html>