{% extends 'base.html' %}
{% load static %}

{% block title %}
Create a Classic Task
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'style/tasks/classic/create.css' %}">
{% endblock %}


{% block body %} 
<div class="container">
      
  <div class="page-title">
    <h2>Create a Classic Task</h2>
  </div>

  <div class="outcome-name">
    <h1>Master Communication Skills</h1>
  </div>

  <div class="form">
    {{ csrt_token }}
    <form action="#">

      <div class="desc">
        <div class="desc-label">
            <p>What must be done? Describe it.</p>
        </div>
        <div class="desc-container">
          {{ form.description  }}
          <textarea class="desc-input" placeholder="Describe Your Task.."></textarea>
        </div>
      </div>

      <div class="xp">
        <div class="xp-label">
          <p class="chaotic-font-color">XP</p>
        </div>
        <div class="xp-input">
          <input type="text" class="xp-input-elem">
        </div>
      </div>

      <div class="create">
        <button type="submit" class="create-btn">Create</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}