{% extends 'base.html'%}

{% block title %}
    Task List
{% endblock %}

{% block style %}
    body {
        font-family:monospace;
        background-color:#0d0d0d;
        color:#d9d9d9;
        font-size:1.5em;
    }

    .title{
        text-shadow:0px 3px 10px black;
    }
    .container{
        height:max-content;
        width:80%;
        min-width:600px;
        padding:20px;
        margin: 0 auto
    }

    .container .task {
        margin:20px;
        border:solid 1px purple;
        border-radius:6px;
        padding:20px;
        background-color:black;

    }

    .container .task .name{
        font-weight:bold;
        margin-bottom:10px;
        font-size:2em;
        text-align:center;
    }

    .container .task .xp{
        background: linear-gradient(blue, green, white);
        -webkit-background-clip: text; /* Clip text to background gradient */
        -webkit-text-fill-color: transparent; /* Set text color to transparent */
        margin-bottom:10px;
        font-size:1.2em;
        text-align:left;
    }

    .container .task .created{
        font-style:italic;
        color:white;
        text-align:right;
        font-size:0.7em;
    }

    .container .task .description{
        font-style:italic;
        color:white;
        text-align:left;
    }

    .container .task .status{
        color:white;
        text-align:right;
    }

    .create-task a{
        background: linear-gradient(#00cc66, #d24dff);
        -webkit-background-clip: text; /* Clip text to background gradient */
        -webkit-text-fill-color: transparent; /* Set text color to transparent */
        margin:10px;
        font-size:2em;
        transition:ease-in-out 0.5s;
    }

    .create-task {
        background-color:black;
        border: solid 1px purple;
        width:max-content;
        padding:20px;
        transition:ease-in-out 0.5s;
    }

    .create-task:hover {
        transition:ease-in-out 0.5s;
        border: solid 1px white;
        background-color:#0d0d0d;
        box-shadow:0px 0px 4px black;

    }

    .btn {
        text-decoration:none;
        color:gray;
        color:#d9d9d9;
        background-color:#0d0d0d;
        padding:5px;
        transition:ease-in-out 0.3s;
        box-shadow:0px 0px 2px purple;
    }

    .btn:hover {
        transition:ease-in-out 0.3s;
        color:black;
        background-color:black;
    }


{% endblock %}

{% block content %}
    <center>
        <h1 class="title">Tasks</h1>
        <div style="height:0.3em; width:12rem; background-color:purple;" ></div><br>
        <div style="height:0.3em; width:10rem; background-color:purple;" ></div><br>
        <div style="height:0.3em; width:8rem; background-color:purple;" ></div><br>
        <div style="height:0.3em; width:6rem; background-color:purple;" ></div><br>
        <div style="height:0.3em; width:4rem; background-color:purple;" ></div><br>
        <div style="height:1rem; width:1rem; background-color:purple; border-radius:2rem;" ></div><br>
        <div >
            <a class="create-task" href="{% url 'classic_create' %}">classic task</a>
            <a class="create-task" style="margin-left:40px;" href="{% url 'count_create' %}">count task</a>
        </div>
    </center>

    <div class="container">
        {% for task in classic_tasks %}
            <div class="task">
                <div class="name">{{ task.outcome.name }}</div>
                <div class="xp">Points: {{ task.xp }}XP</div>
                <div class="description">{{ task.description }}</div>
                <div class="status">Status: {% if task.is_done %} Done {% else %} Not Done {% endif %}</div>
                {% if task.is_done %}
                    <div class="done">Done at: {{ task.done_at }}</div>
                {% endif %}
                <div class="created">Created at: {{ task.created_at }}</div>
                <a class="btn" href="{% url 'classic_delete' task.pk %}" style="color:red;">Delete</a>
                <a class="btn" href="{% url 'classic_detail' task.pk %}">Details</a>
                <a class="btn" href="{% url 'classic_update' task.pk %}" style="color:green;">Update</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}

