{% extends 'base.html'%}

{% block title %}
    Confirm Task Deletion
{% endblock %}

{% block style %}
    .box {
        font-family: monospace;
        background-color: #0d0d0d;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        text-align: center;
        background-color: black;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: white;
        margin-bottom: 10px;
    }

    p {
        color: #d9d9d9;
        margin-bottom: 20px;
    }

    button {
        padding: 10px 20px;
        background-color: purple;
        color: black;
        border: none;
        font-weight:bold;
        border-radius: 5px;
        cursor: pointer;
        transition:ease-in 0.3s;
    }

    button:hover {
        background-color: black;
        transition:ease-in 0.3s;

    }
    b{
        text-decoration:underline;
    }
{% endblock %}

{% block content %}
    <div class="box">
        <div class="container">
            <h1>Confirm TIme Task Deletion</h1>
            <p>Are you sure you want to delete  <b>{{ object.description }}</b> with <b>{{ object.total_time }} XP</b>?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
{% endblock %}
