{% extends 'base.html' %}
{% load static %}

{% block title %}
  Hide Outcome
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static '/style/tasks/classic/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/update.css' %}">
{% endblock %}


{% block body %} 
  <div class="container">
    <div class="outcome-name">
      <h1>{{ outcome.name }}</h1>
    </div>

    <div class="info">

      <div class="desc-xp">
        <div class="desc"><p>Hide this Outcome</p></div>
        <div class="xp">
          <div class="title chaotic-font-color">XP</div>
          <div class="amount">{{ outcome.total_xp }}</div>
        </div>
      </div>

      <h3>Are you sure you want to hide this Outcome? </h3>
      <form method="post">
        {% csrf_token %}
        <div class="btn">
          <button class="update" type="submit">Hide</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}


{% block scripts %}

{% endblock %}