{% extends 'base.html' %}
{% load static %}

{% block title %}
  Set This Outcome As Achieved
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static '/style/tasks/classic/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/delete.css' %}">
{% endblock %}


{% block body %} 
  <div class="container">
    <div class="outcome-name">
      <h1>{{ outcome.name }}</h1>
    </div>

    <div class="info">

      <div class="desc-xp">
        <div class="desc"><p>Set This Outcome as <b>Achieved</b></p></div>
        <div class="xp">
          <div class="title chaotic-font-color">XP</div>
          <div class="amount">{{ outcome.total_xp }}</div>
        </div>
      </div>

      <h3>Truthfully, if you have achieved this, you owe it to the power lent to you. If achieving this neglected some
        other persons right and undervalued justice, it is of no value. but otherwise, Congratulation! but don't think
        it is the end. It's just the beginning. Keep Moving Forward.</h3>
      <form method="post">
        {% csrf_token %}
        <div class="btn">
          <button class="create-btn" type="submit">Set As Achieved</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}


{% block scripts %}

{% endblock %}