{% extend 'base.html'%}

{% block title %}
    Update Task as Done
{% endblock %}

{% block style %}
    body {
        font-family: monospace;
        background-color: #0d0d0d;
        color: #d9d9d9;
        font-size: 1.5em;
    }

    .title {
        text-shadow: 0px 3px 10px black;
    }

    .container {
        height: max-content;
        width: 80%;
        min-width: 600px;
        padding: 20px;
        margin: 0 auto;
    }

    .form-container {
        margin-top: 20px;
        border: solid 1px purple;
        border-radius: 6px;
        padding: 20px;
        background-color: black;
    }

    .form-title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 2em;
        text-align: center;
        text-shadow: -6px 0px 1px black, 0px -6px 4px purple, 6px 0px 7px green;
    }

    .form-field {
        margin-bottom: 10px;
        font-size: 1.2em;
        text-align: left;
    }

    .form-submit {
        text-align: center;
    }

    .submit-button {
        background-color: purple;
        color: white;
        border: solid 1px gray;
        padding: 10px 20px;
        font-size: 1.2em;
        border-radius: 6px;
        cursor: pointer;
    }

    .submit-button:hover {
        background-color: #800080;
    }

    .is-done {
        /* Increase the size of the checkbox */
        width: 20px;
        height: 20px;
        color:yellow;
        margin-right: 10px; /* Optional: Add some space between checkbox and label */
    }

{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Update Task as Done</h1>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-title">Mark Task as Done</div>
                <div class="form-field">
                    <label for="id_is_done">Mark as Done:</label>
                    <input class="is-done" type="checkbox" id="id_is_done" name="is_done" {% if form.is_done.value %}checked{% endif %}>
                </div>
                <div class="form-submit">
                    <button type="submit" class="submit-button">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
