

{% extends 'base.html' %}
{% load static %}

{% block title %}
  Delete Classic Task
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static '/style/tasks/classic/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/count/delete.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/time/delete.css' %}">
{% endblock %}


{% block body %}
  <div class="container">

    <div class="page-title">
      <h2>Delete Time Task</h2>
    </div>

    <div class="outcome-name">
      <h1>{{ task.outcome.name }}</h1>
    </div>

    <div class="info">

      <div class="desc-xp">
        <div class="desc"><p>Description:</p></div>
        <div class="xp">
          <div class="title chaotic-font-color" >XP</div>
          <div class="amount">{{ task.xp }}</div>
        </div>
      </div>

      <div class="desc-container">
        <div class="description">{{ task.description }}</div>
      </div>

      <div class="date">
        <div class="the-date">
          <div class="title"><p>Created:</p></div>
          <div title='{{ task.created_at|date:"fA j(l) n(M) Y" }}' class="text"><p>{{ task.created_at|date:"fA j-n-y" }}</p></div>
        </div>

        <div class="the-date">
          <div class="title"><p>Last Submit:</p></div>
          <div title='{{ task.last_submit|date:"fA j(l) n(M) Y" }}' class="text"><p>{{ task.last_submit|date:"fA j-n-y" }}</p></div>
        </div>
      </div>

      <div class="total-count">
        <div class="div">
          <div class="title">Total Time:</div>
          <div class="amount chaotic-font-color">{{ task.total_time }}</div>
        </div>

        <div class="div">
          <div class="title">Longest Time:</div>
          <div class="amount chaotic-font-color">{{ task.longest_time }}</div>
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="btn">
          <button class="delete" type="submit">Delete</button>
        </div>
      </form>

    </div>
  </div>

{% endblock %}


{% block scripts %}

{% endblock %}
