@media only screen and (max-width: 480px) {
  
.outcomes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: first;
  padding: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.outcome {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: start;
  /* flex-shrink: 0; */
  margin:0px 20px; 
  border: 1px solid transparent;
  border-radius: 4px;
  transition: ease 1s;
}

.tasks-undone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 4px;
  backdrop-filter: blur(50px);
  min-width: 50px;
  min-height: 50px;
}

.tasks-undone .i {
  font-size: 1rem;
  text-align: center;
}

.outcome-name {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  line-break: auto;
  align-items: center;
  backdrop-filter: blur(50px);
  padding: 10px;
  font-size: 16px;
  border-right: solid 1px var(--theme-color);
  transition: ease box-shadow 1s, border 2s;
}

.chaotic-font-color {
  transition: ease color 2.2s, background-color 2.2s;
}
}

.outcomes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: first;
  padding: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.outcome {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: start;
  /* flex-shrink: 0; */
  margin:0px 20px; 
  border: 1px solid transparent;
  transition: ease 1s;
}

.outcome:hover {
  box-shadow: 15px 15px 30px var(--theme-color);
  transform: translate(-5px, -5px);
  border: 1px solid rgb(70, 70, 70);
  border-radius: 0;
}

.tasks-undone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 4px;
  backdrop-filter: blur(50px);
  min-width: 50px;
  min-height: 50px;
}

.tasks-undone .i {
  font-size: 1rem;
  text-align: center;
}

.outcome-name {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  line-break: auto;
  align-items: center;
  backdrop-filter: blur(50px);
  padding: 15px;
  font-size: 16px;
  border-right: solid 1px var(--theme-color);
  transition: ease box-shadow 1s, border 2s;
}

.chaotic-font-color {
  transition: ease color 2.2s, background-color 2.2s;
}