.status {
  display: flex;
  flex-direction: row;
  border-radius:14px;
  padding:10px;
}

.side-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  display: none;
}

.side-status .first-row {
  display: flex;
  flex-direction: row;
  border-radius:14px;
  justify-content: space-between;
  width:100%;
}

.side-status .first-row .infograph {
  /* border-top: solid 1px var(--theme-color); */
  border-radius:14px;
}

.side-status .first-row .infograph:first-child{
  background-color: var(--bg-color);
  padding:13px 10px;
  border-radius:14px;
}
.side-status .first-row .infograph:last-child{
  background-color: var(--bg-color);
  border-radius:14px;
  padding:13px 10px;
}


.side-status:first-child .other-row {
  background-color: var(--bg-color);
  /* border-left: solid 1px var(--theme-color); */
  border-radius:14px;
  width: 100%;
  margin-top:20px;
}
.side-status:last-child .other-row {
  background-color: var(--bg-color);
  /* border-right: solid 1px var(--theme-color); */
  border-radius:14px;
  width: 100%;
  margin-top:20px;
}

.side-status .other-row p {
  text-align: center;
  padding:4px;
  margin:10px;
}

/* middle section */

.middle-status {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex: 1;
}

.video-wrapper {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px black;
  overflow: hidden; /* ensures video stays circular */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.level-number {
  transition: 1s ease-in-out;
}

.video-wrapper:hover .level-content, .video-wrapper:hover .level-number {
  transform: scale(1.5, 1.5);
  text-shadow: 0px 0px 50px black;
  transition: 1s ease-in-out;
}


.video-wrapper video {
  position: absolute;
  top: 50%;
  left: 50%;
  filter: blur(3px);
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  object-fit:contain; /* fills the circle like a background */
  z-index: -1;       /* put behind the text */
  transition: 1s ease-in-out;

}

.level-content {
  position: relative;
  z-index: 1;
  transition: 1s ease-in-out;
}

.video-wrapper:hover .page-content {
  opacity: 20%;
}

.level-content .level-number {
  color: rgba(255, 255, 255, 0.217);
  font-size: 100px;
  text-align: center;
  transition: 1s ease-in-out;

}

.xp-bar {
  width:300px;
  height:10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* border: solid 1px var(--theme-color); */
}

.xp-bar-filled {
  transition: ease-in-out width 2s, background-color 2s;
  width:1%;
  height:10px;
  border-radius: 5px;
  background: linear-gradient(to right, black , rgba(39, 111, 170, 0.656) );
  backdrop-filter: blur(40px);
}
.xp-bar-remaining {
  transition: ease-in-out width 2s, background-color 2s;
  width:99%;
  border-radius: 5px;
  height:7px;
  border-left: none;
}

.xp-number {
  color: var(--text-color);
  text-shadow: 
  0px 2px 8px var(--bg-color),
  0px 2px 8px var(--bg-color),
  0px 2px 8px var(--bg-color),
  0px 2px 8px var(--bg-color),
  0px 2px 8px var(--bg-color);
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 5px;
}

.create-button {
  display: flex;
  width:300px;
  flex-direction: row;
  justify-content: center;
}

.btn {
  text-align: center;
  background-color: var(--bg-color);
  padding:10px 10px;
  border: solid 1px var(--theme-color);
  font-size: 20px;
  cursor: pointer;
  transition:box-shadow 0.5s, background-color 0.5s;
}

.btn:hover {
  box-shadow: 
  0px 0px 20px var(--theme-color),
  0px 0px 40px var(--theme-color),
  0px 0px 50px var(--theme-color);
}

.element, .animal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  backdrop-filter: blur(50px);
  height: 30px;
  margin-top: 8px;
  border-radius: 15px;
}



@media only screen and (max-width: 480px) {

  .element, .animal {
    width: 200px;
}

  .middle-status {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
  }

  .video-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px black;
    overflow: hidden; /* ensures video stays circular */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
  }

  .level-number {
    transition: 1s ease-in-out;
  }

  .video-wrapper:hover .level-content, .video-wrapper:hover .level-number {
    transform: scale(1.5, 1.5);
    text-shadow: 0px 0px 50px black;
    transition: 1s ease-in-out;
  }


  .video-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /* filter: blur(3px); */
    transform: translate(-50%, -50%);
    object-fit: contain; /* fills the circle like a background */
    z-index: -1;       /* put behind the text */
    transition: 1s ease-in-out;

  }

  .level-content {
    position: relative;
    z-index: 1;
    transition: 1s ease-in-out;
  }

  .video-wrapper:hover .page-content {
    opacity: 20%;
  }

  .level-content .level-number {
    color: rgba(255, 255, 255, 0.217);
    font-size: 70px;
    text-align: center;
    transition: 1s ease-in-out;

  }

  .xp-bar {
    width:200px;
    height:10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* border: solid 1px var(--theme-color); */
  }

  .xp-bar-filled {
    transition: ease-in-out width 2s, background-color 2s;
    width:1%;
    height:10px;
    border-radius: 5px;
    background: linear-gradient(to right, black , rgba(39, 111, 170, 0.656) );
    backdrop-filter: blur(40px);
  }
  .xp-bar-remaining {
    transition: ease-in-out width 2s, background-color 2s;
    width:99%;
    border-radius: 5px;
    height:7px;
    border-left: none;
  }

  .xp-number {
    color: var(--text-color);
    text-shadow: 
    0px 2px 8px var(--bg-color),
    0px 2px 8px var(--bg-color),
    0px 2px 8px var(--bg-color),
    0px 2px 8px var(--bg-color),
    0px 2px 8px var(--bg-color);
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 5px;
  }
}

