{% extends 'base.html' %}
{% load static %}

{% block title %}
  Create New Outcome
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static '/style/tasks/classic/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/outcome/create.css' %}">
{% endblock %}


{% block body %} 
  <div class="container">

    <div class="page-title">
      <h2>Create New Outcome</h2>
    </div>

    <div class="outcome-name">
      <h1>Choose its name in positive: What do you want?</h1>
    </div>

    <div class="form">
      <form method="post">
        {% csrf_token %}
        <div class="desc">
          <div class="desc-label">
          </div>
          <div class="desc-container">
            {{ form.name }}
        </div>

        <div class="create">
          <button type="submit" class="create-btn">Create</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


{% block scripts %}

{% endblock %}