{% extends 'base.html' %}
{% load static %}

{% block title %}
Delete Classic Task
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="/style/tasks/classic/create.css">
<link rel="stylesheet" href="/style/tasks/classic/delete.css">
{% endblock %}


{% block body %} 
<div class="container">
  <div class="outcome-name">
    <h1>Master Communication Skills</h1>
  </div>

  <div class="info">

    <div class="desc-xp">
      <div class="desc"><p>Delete Warning</p></div>
      <div class="xp">
        <div class="title chaotic-font-color" >XP</div>
        <div class="amount">49</div>
      </div>
    </div>

    <h2>Are you sure you want to delete this Outcome? you can hide or achieve it.</h2>

    <div class="btn">
      <button class="delete">I am sure</button>
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}

{% endblock %}