
{% extends 'base.html' %}

{% block title %}
    outcome List
{% endblock %}

{% block style %}
    body {
            font-family:monospace;
            background-color:#0d0d0d;
            color:#d9d9d9;
            font-size:1.5em;
        }

        .title{
            text-shadow:0px 3px 10px black;
        }
        .container{
            height:max-content;
            width:80%;
            min-width:600px;
            padding:20px;
            margin: 0 auto
        }

        .container .outcome{
            margin:20px;
            border:solid 1px purple;
            border-radius:6px;
            padding:20px;
            background-color:black;

        }

        .container .outcome .name{
            font-weight:bold;
            margin-bottom:10px;
            font-size:2em;
            text-align:center;
                text-shadow:
        0px 0px 2px black,
        0px 0px 4px gray,
        0px 0px 7px white,
        0px 0px 9px purple;
        }

        .container .outcome .xp{
            background: linear-gradient(#00cc66, #d24dff);
            -webkit-background-clip: text; /* Clip text to background gradient */
            -webkit-text-fill-color: transparent; /* Set text color to transparent */
            margin-bottom:10px;
            font-size:1.2em;
            text-align:left;
        }

        .container .outcome .created{
            font-style:italic;
            color:white;
            text-align:right;
            font-size:0.7em;
        }

        .container .outcome .last-task-done{
            font-style:italic;
            color:white;
            text-align:left;
        }

        .tasks {
            display: flex;
            flex-wrap: wrap; /* Allow tasks to wrap to the next line */
            gap: 20px; /* Spacing between tasks */
            margin:10px;

        }

        .task {
            background-color: 0d0d0d; /* Dark background color for tasks */
            color: #d9d9d9; /* Light text color for tasks */
            padding: 10px;
            border-radius: 3px;
            width: calc(50% - 10px); /* Set width of each task, considering gap */
            box-sizing: border-box;
            box-shadow:
                0px 0px 2px black,
                0px 0px 4px gray,
                0px 0px 7px white,
                0px 0px 9px purple;
        }

        .task-info {
            margin-bottom: 10px;
        }

        .task-status {
            font-style: italic;
        }

        .create-outcome a{
            background: linear-gradient(#00cc66, #d24dff);
            -webkit-background-clip: text; /* Clip text to background gradient */
            -webkit-text-fill-color: transparent; /* Set text color to transparent */
            margin:10px;
            font-size:2em;
            transition:ease-in-out 0.5s;
        }

        .create-outcome {
            background-color:black;
            border: solid 1px purple;
            width:max-content;
            padding:20px;
            transition:ease-in-out 0.5s;
        }

        .create-outcome:hover {
            transition:ease-in-out 0.5s;
            border: solid 1px white;
            background-color:#0d0d0d;
            box-shadow:0px 0px 4px black;

        }
{% endblock %}


{% block content %}
    <center>
        <h1 class="title">outcomes</h1>
        <div style="height:0.3em; width:12rem; background-color:purple;" ></div><br>
        <div style="height:0.3em; width:10rem; background-color:purple;" ></div><br>
        <div style="height:0.3em; width:8rem; background-color:purple;" ></div><br>
        <div style="height:0.3em; width:6rem; background-color:purple;" ></div><br>
        <div style="height:0.3em; width:4rem; background-color:purple;" ></div><br>
        <div style="height:1rem; width:1rem; background-color:purple; border-radius:2rem;" ></div><br>
        <div class="create-outcome">
            <a href="{% url 'outcome_create' %}">New outcome</a>
        </div>
    </center>



    <div class="container">

        {% for outcome in outcomes %}

            <a href="{% url 'outcome_detail' outcome.pk %}" style="text-decoration:none; color:white;">
                <div class="outcome">

                    <div class="name">{{ outcome.name }}</div>
                    <div class="xp">XP: {{ outcome.total_xp }}</div>
                    <a href="{% url 'outcome_delete' outcome.pk %}" style="float:right;color:red;">Delete</a>
                    <div class="last-task-done">last task done at: {{ outcome.last_task_done_at }}</div>

                    <div class="tasks">
                        {% for task in outcome.tasks %}
                            {% if task.is_done == False %}
                                <div class="task">
                                    <div class="task-info">

                                        <div>{{ task.description }}</div>
                                        <div class="xp">Points: {{ task.xp }}XP</div>
                                        <div class="create-outcome" style="text-align:right; padding:5px;"><a style="font-size:1.2rem;" href="{% url 'classic_detail' task.pk %}">Details</a></div>

                                    </div>

                                    <div class="created">Created at: {{ task.created_at }}</div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                <div class="created">date created: {{ outcome.created_at }}</div>
                </div>
            </a>
        {% endfor %}

        <div class="outcome">
            <div class="name">Without outcome</div>

            {% if tasks_without_outcome %}
                <div class="tasks">
                    {% for task in tasks_without_outcome %}
                        {% if task.is_done == False %}
                            <div class="task">
                                <div class="task-info">

                                    <div>{{ task.description }}</div>
                                    <div class="xp">Points: {{ task.xp }}XP</div>
                                    <div class="create-outcome" style="text-align:right; padding:5px;">
                                        <a style="font-size:1.2rem;" href="{% url 'task_detail' task.pk %}">Details</a>
                                    </div>

                                </div>
                                <div class="created">Created at: {{ task.created_at }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


