{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ outcome.name }}
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static '/style/outcome/retreive/main.css' %}">
  <link rel="stylesheet" href="{% static '/style/outcome/retreive/buttons.css' %}">
  <link rel="stylesheet" href="{% static '/style/outcome/retreive/header.css' %}">
  <link rel="stylesheet" href="{% static '/style/outcome/retreive/questions.css' %}">
  <link rel="stylesheet" href="{% static '/style/outcome/retreive/tasks.css' %}">
{% endblock %}


{% block body %}
  <div class="container">
    <!-- page header -->
    <div class="header">
      <div class="outcome-detail">
        <div class="first-row">
          <div class="first-column">
            <div class="buttons">
              <div class="update">Hide</div>
              <div class="delete">Delete</div>
            </div>
            <div class="level">{{ level }}</div>
          </div>


          <div class="second-column">
            <div class="dates">
              <div class="created" title='{{ outcome.created_at|date:"fA j(l) n(M) Y" }}'>Created: {{ outcome.created_at|date:"wA j-n-y" }}</div>
              <div class="achieved" title='{{ outcome.achieved_at|date:"fA j(l) n(M) Y" }}'>Achieved: {{ outcome.achieved_at|date:"wA j-n-y" }}</div>
              <div class="xp-bar">
                <div class="xp-bar-filled" style="width: {{ per1 }}%;"></div>
                <div class="xp-number">{{ current_xp }} / {{ required_xp }}</div>
                <div class="xp-bar-remaining" style="width: {{ per2 }}%"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="second-row">
          <div>Tasks Done: {{ done_tasks }}</div>
          <div>Active Tasks: {{ active_tasks }}</div>
        </div>
      </div>

      <div class="outcome-name">
        <div class="create-btn">
          Set As Achieved
        </div>
        <div class="text">{{ outcome.name }}</div>
      </div>
    </div>

    <!-- questions -->
    <div class="question-buttons">
      <div class="btn-1 btn-1-js">Internal Ecology</div>
      <div class="btn-2 btn-2-js">Outcome Questions</div>
      <div class="btn-3 btn-3-js">External Ecology</div>
    </div>

    <!-- Internal ecology questions  -->
    <div class="questions js-1">
      <div class="header">
        <div class="title"><h2>Internal Ecology Questions</h2></div>
        <div class="btn"><button class='update'>Update</button></div>
      </div>

      <div class="content">
       <div class="question">
          <div class="question-text">
            1. What are the wider consequences of my action?
          </div>
          <div class="line"></div>
          <div class="answer">{{ internal_ecology.q1 }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            2. What will I lose if I make this change?
          </div>
          <div class="line"></div>
          <div class="answer">{{ internal_ecology.q2 }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            3. What extra will I have to do?
          </div>
          <div class="line"></div>
          <div class="answer">{{ internal_ecology.q3 }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            4. Is it worth it?
          </div>
          <div class="line"></div>
          <div class="answer">{{ internal_ecology.q4 }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            5. What will I gain if I make this change?
          </div>
          <div class="line"></div>
          <div class="answer">{{ internal_ecology.q5 }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            6. What is the price of making this change and am I willing to pay it?
          </div>
          <div class="line"></div>
          <div class="answer">{{ internal_ecology.q6 }}
          </div>
        </div>
        
        <div class="question">
          <div class="question-text">
            7. What are the good aspects of the present state?
          </div>
          <div class="line"></div>
          <div class="answer">{{ internal_ecology.q7 }}
          </div>
        </div>
        
        <div class="question">
          <div class="question-text">
            8. How can i keep those good aspects while making the change i want?
          </div>
          <div class="line"></div>
          <div class="answer">{{ internal_ecology.q8 }}
          </div>
        </div>        
      </div>
    </div>

    <!-- outcome questions -->
    <div class="questions js-2">
      <div class="header">
        <div class="title"><h2>Outcome Questions</h2></div>
        <div class="btn"><button class='update'>Update</button></div>
      </div>

      <div class="content">

        <div class="question">
          <div class="question-text">
            1. Positive: What do you want?
          </div>
          <div class="line"></div>
          <div class="answer">{{ outcome_questions.positive }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            2. Evidence: How will you know you are succeeding/have succeeded?
          </div>
          <div class="line"></div>
          <div class="answer">{{ outcome_questions.evidence }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            3. Specifics: Where, when and with whom?
          </div>
          <div class="line"></div>
          <div class="answer">{{ outcome_questions.specific }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            4. Resources: What resources do you have?
          </div>
          <div class="line"></div>
          <div class="answer">{{ outcome_questions.resource }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            5. Control: Can you start and maintain this outcome?
          </div>
          <div class="line"></div>
          <div class="answer">{{ outcome_questions.control }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            6. Identity: Is this outcome in keeping with who you are?
          </div>
          <div class="line"></div>
          <div class="answer">{{ outcome_questions.identity }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            7. How do your outcomes fit together?
          </div>
          <div class="line"></div>
          <div class="answer">{{ outcome_questions.relation_with_other_outcomess }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            8. Action plan: What to do next?
          </div>
          <div class="line"></div>
          <div class="answer">{{ outcome_questions.action }}
          </div>
        </div>

      </div>
    </div>

    <!-- external ecology questions  -->
    <div class="questions js-3">
      <div class="header">
        <div class="title"><h2>External Ecology Questions</h2></div>
        <div class="btn"><button class='update'>Update</button></div>
      </div>

      <div class="content">

        <div class="question">
          <div class="question-text">
            1. How will you change affect them?
          </div>
          <div class="line"></div>
          <div class="answer">{{ external_ecology.q1 }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            2. Does it goes against any of their values?
          </div>
          <div class="line"></div>
          <div class="answer">{{ external_ecology.q2 }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            3. Does this matter?
          </div>
          <div class="line"></div>
          <div class="answer">{{ external_ecology.q3 }}
          </div>
        </div>

        <div class="question">
          <div class="question-text">
            4. How will they react?
          </div>
          <div class="line"></div>
          <div class="answer">{{ external_ecology.q4 }}
          </div>
        </div>

      </div>
    </div>


    <!-- tasks -->
    <div class="tasks">
      <div class="title"><h1>Tasks</h1></div>
      <div class="task-buttons">
        <div class="classic classic-btn-js">Classic</div>
        <div class="time time-btn-js">Time</div>
        <div class="count count-btn-js">Count</div>
        <div class="deadline deadline-btn-js">Deadline</div>
      </div>
    </div>

    <!-- time task -->
    <div class="time-task-container time-container-js">
      <div class="create-task">
        <button class="create-btn">Create New Task</button>
      </div>
      {% for time in times %}
        <div class="task">
          <div class="header">
            <div class="date" title='{{ time.created_at|date:"fA j(l) n(M) Y" }}'>
              {{ time.created_at|date:"wA j-n-y" }}
            </div>
            <div class="xp">
              <span class="num">{{ time.xp }}</span><span class="text chaotic-font-color"> XP</span>
            </div>
          </div>
          <div class="desc">
            <p>
              {{ time.description }}
            </p>
          </div>

          <div class="status">
            <div class="left">
              <div class="total"><p>Total:</p></div>
              <div class="longest"><p>Longest:</p></div>
              <div class="last-submit"><p>Last Submit:</p></div>
            </div>
            <div class="right">
              <div class="total-data" title='{{ time.total_time|date:"fA j(l) n(M) Y" }}'><p>{{ time.total_time }}</p></div>
              <div class="longest-data" title='{{ time.longest_time|date:"fA j(l) n(M) Y" }}'><p>{{ time.longest_time }}</p></div>
              <div class="last-submit-data" title='{{ time.last_submit|date:"fA j(l) n(M) Y" }}'><p>{{ time.last_submit|date:"wA j-n-y" }}</p></div>
            </div>
          </div>
          <div class="buttons">
            <div class="delete">Delete</div>
            <div class="create-btn delete">Submit</div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- count task -->
    <div class="count-task-container count-container-js">
      <div class="create-task">
        <button class="create-btn">Create New Task</button>
      </div>
      {% for count in counts %}
        <div class="task">
          <div class="header">
            <div class="date" title='{{ count.created_at|date:"fA j(l) n(M) Y" }}'>
              {{ count.created_at|date:"wA j-n-y" }}
            </div>
            <div class="xp">
              <span class="num">{{ count.xp }}</span>
              <span class="text"> XP</span>
            </div>
          </div>
          <div class="desc">
            <p>
              {{ count.description }}
            </p>
          </div>

          <div class="status">
            <div class="left">
              <div class="longest"><p>Longest:</p></div>
              <div class="last-submit"><p>Last Submit:</p></div>
            </div>
            <div class="right">
              <div class="longest-data" title='{{ count.longest_time|date:"fA j(l) n(M) Y" }}'><p>{{ count.longest_time }}</p></div>
              <div class="last-submit-data" title='{{ count.last_submit|date:"fA j(l) n(M) Y" }}'><p>{{ count.last_submit|date:"wA j-n-y" }}</p></div>
            </div>
          </div>

          <div class="buttons">
            <div class="delete">Delete</div>
            <div class="create-btn delete">Submit</div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- classic task -->
    <div class="classic-task-container classic-container-js">
      <div class="create-task">
        <button class="create-btn">Create New Task</button>
      </div>
      {% for classic in classics %}
        {% if classic.is_done == False %}
          <div class="task">
            <div class="header">
              <div class="date" title='{{ classic.created_at|date:"fA j(l) n(M) Y" }}'>
                {{ classic.created_at|date:"wA j-n-y" }}
              </div>
              <div class="done-or-undone">
                <p>Not Done Yet</p>
              </div>
            </div>
            <div class="desc">
              <p>
                {{ classic.description }}
              </p>
            </div>

            <div class="xp">
              <span class="num">{{ classic.xp }}</span>
              <span class="text chaotic-font-color"> XP</span>
            </div>

            <div class="buttons">
              <div class="delete">Delete</div>
              <div class="create-btn delete">Submit</div>
            </div>
          </div>
        {% else %}
          <div class="task">
            <div class="header">
              <div class="date" title='{{ classic.created_at|date:"fA j(l) n(M) Y" }}'>
                {{ classic.created_at|date:"wA j-n-y" }}
              </div>
              <div class="done-or-undone" title='{{ classic.done_at|date:"fA j(l) n(M) Y" }}'>
                {{ classic.done_at|date:"wA j-n-y" }}
              </div>
            </div>
            <div class="desc">
              <p>
                {{ classic.description }}
              </p>
            </div>

            <div class="xp">
              <span class="num">{{ classic.xp }}</span>
              <span class="text chaotic-font-color"> XP</span>
            </div>

            <div class="report desc">
              <p>
                {{ classic.report }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!--  deadline task -->
    <div class="deadline-task-container deadline-container-js">
      <div class="create-task">
        <button class="create-btn">Create New Task</button>
      </div>
      {% for deadline in deadlines %}
        {% if deadline.is_done == False %}
          <div class="task">
            <div class="header">
              <div class="date" title='{{ deadline.created_at|date:"fA j(l) n(M) Y" }}'>
                {{ deadline.created_at|date:"wA j-n-y" }}
              </div>
              <div class="failed">
                <p>Failed: {{ deadline.failed }}</p>
              </div>
            </div>
            <div class="desc">
              <p>
                {{ deadline.description }}
              </p>
            </div>

            <div class="date">
              <div class="title">Deadline:</div>
              <div class="date" title='{{ deadline.deadline_date|date:"fA j(l) n(M) Y" }}'>
                {{ deadline.deadline_date|date:"wA j-n-y" }}
              </div>
            </div>

            <div class="count-down">
              <div class="days"><p>02</p></div>
              <div class="hours"><p>02</p></div>
              <div class="minutes"><p>02</p></div>
            </div>

            <div class="status">
              <div class="left">
                <div class="title"><p>Success XP:</p></div>
                <div class="title"><p>Failure Penalty:</p></div>
                <div class="title"><p>Current Penalty:</p></div>
              </div>
              <div class="right">
                <div class="xp-gained"><p>{{ deadline.xp }}XP</p></div>
                <div class="xp-lost"><p>-{{ deadline.penalty }}XP</p></div>
                <div class="xp-lost"><p>-{{ deadline.penalty_xp }}XP</p></div>
              </div>
            </div>

            <div class="buttons">
              <div class="delete">Abort</div>
              <div class="create-btn delete">Update</div>
            </div>
          </div>

        {% else %}
          <div class="task">
            <div class="header">
              <div class="date" title='{{ deadline.created_at|date:"fA j(l) n(M) Y" }}'>
                {{ deadline.created_at|date:"wA j-n-y" }}
              </div>
              <div class="failed">
                <p>Failed: {{ deadline.failed }}</p>
              </div>
            </div>
            <div class="desc">
              <p>
                {{ deadline.description }}
              </p>
            </div>

            <div class="date">
              <div class="title">Done At:</div>
              <div class="date" title='{{ deadline.deadline_date|date:"fA j(l) n(M) Y" }}'>
                {{ deadline.deadline_date|date:"wA j-n-y" }}
              </div>
            </div>

            <div class="status">
              <div class="left">
                <div class="title"><p>XP Gained:</p></div>
                <div class="title"><p>XP Lost:</p></div>
              </div>
              <div class="right">
                <div class="xp-gained"><p>{{ deadline.xp }}<span class="chaotic-font-color" style="transition: ease-in-out 2s;">XP</span></p></div>
                <div class="xp-lost"><p>-{{ deadline.penalty_xp }}<span class="chaotic-font-color" style="transition: ease-in-out 2s;">XP</span></p></div>
              </div>
            </div>

            <div class="report desc">
              <p>
                {{ deadline.report }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}


    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static '/script/outcomes/retrieve.js' %}"></script>
{% endblock %}
