.total-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

