<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static '/style/navbar.css' %}">
        <link rel="stylesheet" href="{% static '/style/base.css' %}">
        <!-- CSS file links -->
        {% block styles %} {% endblock %}
    </head>
    <body>
        <!-- Nav Bar -->
        <div class="js-navbar-button navbar-button"></div>
        <a href="">
          <div class="js-navbar-tasks navbar-tasks">
            <p class="navbar-text">Tasks</p>
          </div>
        </a>
        <a href="">
          <div class="js-navbar-profile navbar-profile">
            <p class="navbar-text">Profile</p>
          </div>
        </a>
        <a href="">
          <div class="js-navbar-outcomes navbar-outcomes">
            <p class="navbar-text">Outcomes</p>
          </div>
        </a>

        <!-- Body content-->
        {% block body %} {% endblock %}

        <!-- Script file links -->
        <script src="{% static '/script/navbar.js' %}"></script>
        <script src="{% static '/script/general.js' %}"></script>
        {% block scripts %} {% endblock %}
    </body>
</html>