<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static '/style/navbar.css' %}">
        <link rel="stylesheet" href="{% static '/style/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <!-- CSS file links -->
        {% block styles %} {% endblock %}
    </head>
    <body>
      <video class="bg-video" autoplay muted loop playsinline>
        <source src="{% static '/media/zap.mp4' %}" type="video/mp4">
      </video>

      <div class="page-content">

<div class="top-nav">
  <div class="brand-name"><h1>Progress</h1></div>
  <div class="toggle-btn" id="toggle-btn"></div>
</div>

<div class="navbar" id="navbar">
  <div class="profile">
    <div class="picture">
      <img class="profile-picture" src="{% static '/media/zap.mp4' %}" alt="">
    </div>
    <div class="username"><p>username</p></div>
  </div>

  <div class="links">
    <div class="link">Profile</div>
    <div class="link">Create Outcome</div>
  </div>

  <div class="logout">
    <div class="logout-btn">Log out</div>
  </div>
</div>

        {% block body %} {% endblock %}
        
        </div>
       
        <script src="{% static './script/navbar.js' %}"></script>
        <script src="{% static './script/general.js' %}"></script>
        {% block scripts %} {% endblock %}
    </body>
</html>