{% extends 'base.html' %}
{% load static %}

{% block title %}
  External Ecology Questions
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static '/style/tasks/time/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/create.css' %}">
  <link rel="stylesheet" href="{% static '/style/tasks/classic/update.css' %}">
  <link rel="stylesheet" href="{% static '/style/questions/main.css' %}">
{% endblock %}


{% block body %}
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <div class="header">
        <div class="page-title">
          <div class="title">
            <h2>External Ecology Questions</h2>
          </div>

          <div class="btn">
            <button class="create-btn" type="submit">Update</button>
          </div>
        </div>

        <div class="outcome-name">
          <h1>{{ outcome.name }}</h1>
          {{ form.errors }}
        </div>
      </div>

      <div class="note">
        <h1>Pay Attention:</h1>
        <p>Internal Ecology shades into external ecology because we are all part of a wider system of relationships. Internal and external ecology are two different perspectives on the same system. An external ecology check examines how your outcome will affect other significant people in your life.<br><br><b>Make a leap of imagination and beocme them:</b> </p>
      </div><br><br>

      <div class="questions">

        <div class="question">
          <div class="text">
            <div class="title">
              <p>1. How will your change affect them?</p>
            </div>

          </div>
          <div class="answer">
            {{ form.q1 }}
          </div>
        </div>

        <div class="question">
          <div class="text">
            <div class="title">
              <p>2. Does it goes against any of their values? </p>
            </div>

          </div>
          <div class="answer">
            {{ form.q2 }}
          </div>
        </div>

        <div class="question">
          <div class="text">
            <div class="title">
              <p>3. Does this matter? </p>
            </div>

          </div>
          <div class="answer">
            {{ form.q3 }}
          </div>
        </div>

        <div class="question">
          <div class="text">
            <div class="title">
              <p>4. How will they react?</p>
            </div>

          </div>
          <div class="answer">
            {{ form.q4 }}
          </div>
        </div>

      </div>
    </form>
  </div>

{% endblock %}


{% block scripts %}

{% endblock %}