
z.box {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.questions {
  display: flex;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid black;
  backdrop-filter: blur(40px);
  flex-direction: column;
  row-gap: 30px;
}

.question {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.question .text .title {
  font-size: 16px;
  text-align: left;
}


.note p {
  border-left: solid 10px var(--theme-color);
  padding-left: 10px;
}

.more-info-container {
  top: -1000px;
  text-align: left;
  backdrop-filter: blur(40px);
}

.desc-input {
  margin: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
  border-radius: 0%;
}


.desc-input {
  width: 90%;
  min-height: 16px;
  height: 16px;
  max-height: 400px; /* optional */
  margin: 10px 0;
  padding: 6px 8px;
  font-size: 15px;
  resize: none; /* disable manual resizing */
  overflow-y: hidden;
  overflow-x: hidden;
  transition: height 0.2s ease;
}